
.checkoutStep{
height: 100%;
margin:10px;
text-align: left;
padding: 10px;
/* box-shadow: 2px -2px 10px 2px grey; */
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.addFormStep{
    height: 100%;
    margin:10px;
    text-align: left;
    padding: 10px;
    }

.checkoutHeader{
    font-weight: bold;
    font-size: 20px;
    color: black;
    margin:0px auto 0px 0;
    padding: 5px 0;
}

.para{
    margin: 0;
}

.flexRow{
    display: flex;
}

.activeStep{
    background-color:#000000;
    color: white;
}
/* .stepNumber{
    display: block;
    background-color: lawngreen;
    height: 100%;
    width: 10px;
    margin: 0;
}

.stepTitle{
    display: block;
    background-color: lawngreen;
    width: 100%;
    margin: 0;
} */